<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242716722141-qk3sqjvo10jam73a08gskilj013g54u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242716722141-qk3sqjvo10jam73a08gskilj013g54u3</string>
	<key>API_KEY</key>
	<string>AIzaSyAx47hla_ebDtHPNmie0fEovWWan9DT6eY</string>
	<key>GCM_SENDER_ID</key>
	<string>242716722141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akhilr.cycl2</string>
	<key>PROJECT_ID</key>
	<string>shshacks21</string>
	<key>STORAGE_BUCKET</key>
	<string>shshacks21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242716722141:ios:2b34263b922c974e84ac34</string>
</dict>
</plist>